// Breakpoints
$xs: 420px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1230px;
$xxl: 1430px;

// Colors
$black: #0b0b0b;
$gray-black: #262626;
$gray-dark: #646464;
$gray-medium: #c6c6c6;
$gray-light: #f8f8f8;
$white: #fff;
$green: #2d9851;
$green-black: #3a5a45;

// viewport of design
$vw-viewport: 1800;

//$vw-viewport: 1440;