// Breakpoints
$xs: 420px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1230px;
$xxl: 1430px;

// Colors
$black: #0b0b0b;
$gray-black: #262626;
$gray-dark: #646464;
$gray-medium: #c6c6c6;
$gray-light: #f8f8f8;
$white: #fff;
$green: #2d9851;
$green-black: #3a5a45;

// Viewport of design
$vw-viewport: 1800;

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  span {
    color: $green;
  }
}

// Fonts

@mixin f_900 {
  font-family: "Archivo", sans-serif;
  font-weight: 900;
}

@mixin f_700 {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
}

@mixin f_600 {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
}

@mixin f_400 {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
}

@mixin font_105 {
  @include f_400;
  font-size: get-vw(105px);
  line-height: 1;
  letter-spacing: -0.02em;
  @media (max-width: 1200px){
    font-size: 72px
  }
}

@mixin font_64 {
  @include f_900;
  font-size: get-vw(64px);
  line-height: 1.12;
  letter-spacing: -0.02em;
  @media (max-width: 1200px){
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: -0.03em;
  }
}

@mixin font_48 {
  @include f_900;
  font-size: get-vw(48px);
  line-height: 1.17;
  letter-spacing: -0.03em;
  @media (max-width: 1200px){
    font-size: 48px;
    line-height: 1.2;
  }
}

@mixin font_40 {
  @include f_700;
  font-size: get-vw(40px);
  line-height: 1.2;
  letter-spacing: -0.03em;
  @media (max-width: 1200px){
    font-size: 32px;
    line-height: 1.25;
  }
}

@mixin font_32 {
  @include f_700;
  font-size: get-vw(32px);
  line-height: 1.25;
  letter-spacing: -0.03em;
  @media (max-width: 1200px){
    font-size: 24px;
    line-height: 1.33;
  }
}
@mixin font_32__400{
  @include font_32;
  @include f_400;
}

@mixin font_24 {
  @include f_700;
  font-size: get-vw(24px);
  line-height: 1.33;
  letter-spacing: -0.01em;
  @media (max-width: 1200px) {
    font-size: 20px;
    line-height: 1.40;
    letter-spacing: normal;
  }
}

@mixin font_24__400 {
  @include font_24;
  @include f_400;
}

@mixin font_20 {
  @include f_400;
  font-size: get-vw(20px);
  line-height: 1.4;
  @media (max-width: 1200px){
    font-size: 20px;
  }
}

@mixin font_16__700{
  @include f_700;
  font-size: get-vw(16px);
  line-height: 1.5;
  letter-spacing: -0.01em;
  @media (max-width: 1200px){
    font-size: 16px;
  }
}

@mixin font_16{
  @include font_16__700;
  @include f_400;
}

@mixin font_14__700{
  @include f_700;
  font-size: get-vw(14px);
  line-height: 1.71;
  @media (max-width: 1200px){
    font-size: 14px;
  }
}

@mixin font_14{
  @include font_14__700;
  @include f_400;
}

@mixin font_button{
  @include font_14__700;
  @include f_700;
}

.f_900 {
  @include f_900
}

.f_700 {
  @include f_700
}

.f_600 {
  @include f_600
}

.color_black {
  color: $black;
}

.color_gray-black {
  color: $gray-black;
}

.color_green {
  color: $green;
}

.color_white {
  color: $white;
}

.color_grey-medium {
  color: $gray-medium;
}

.font_48 {
  @include font_48;
}

.font_40 {
  @include font_40;
}

.font_32 {
  @include font_32;
}

.font_24 {
  @include font_24;
}

.font_20 {
  @include font_20;
}

.font_16 {
  @include font_16;
}

.font_14 {
  @include font_14;
}

.text-center {
  text-align: center;
}

.mb-68 {
  margin-bottom: get-vw(68px);
  @include media($lg) {
    margin-bottom: 68px;
  }
}

.mb-64 {
  margin-bottom: get-vw(64px);
  @include media($lg) {
    margin-bottom: 64px;
  }
}

.mb-48 {
  margin-bottom: get-vw(48px);
  @include media($lg) {
    margin-bottom: 48px;
  }
}

.mb-40 {
  margin-bottom: get-vw(40px);
  @include media($lg) {
    margin-bottom: 40px;
  }
}

.mb-32 {
  margin-bottom: get-vw(32px);
  @include media($lg) {
    margin-bottom: 32px;
  }
}

.mb-28 {
  margin-bottom: get-vw(28px);
  @include media($lg) {
    margin-bottom: 28px;
  }
}

.mb-24 {
  margin-bottom: get-vw(24px);
  @include media($lg) {
    margin-bottom: 24px;
  }
}

.mb-20 {
  margin-bottom: get-vw(20px);
  @include media($lg) {
    margin-bottom: 20px;
  }
}

.mb-16 {
  margin-bottom: get-vw(16px);
  @include media($lg) {
    margin-bottom: 16px;
  }
}

.mb-8 {
  margin-bottom: get-vw(8px);
  @include media($lg) {
    margin-bottom: 8px;
  }
}

.mb-4 {
  margin-bottom: get-vw(4px);
  @include media($lg) {
    margin-bottom: 4px;
  }
}

.mt-48 {
  margin-top: get-vw(48px);
  @include media($lg) {
    margin-top: 48px;
  }
}

.mt-40 {
  margin-top: get-vw(40px);
  @include media($lg) {
    margin-top: 40px;
  }
}
.font_105 {
  @include font_105;
}
.font_64 {
  @include font_64;
}
.font_48 {
  @include font_48;
}
.font_40 {
  @include font_40;
}
.font_32 {
  @include font_32;
}
.font_32__400 {
  @include font_32__400;
}
.font_24 {
  @include font_24;
}
.font_24__400 {
  @include font_24__400;
}
.font_20 {
  @include font_20;
}
.font_16__700 {
  @include font_16__700;
}
.font_16 {
  @include font_16;
}
.font_14__700 {
  @include font_14__700;
}
.font_14 {
  @include font_14;
}
.font_button {
  @include font_button;
}
