.footer {
  margin: auto 0 0;
  padding: get-vw(80px) 0 get-vw(24px);
  color: $white;
  background-color: $black;

  @include media($md) {
    padding: 40px 0;
  }

  .logo {
    margin-bottom: get-vw(16px);

    @include media($md) {
      margin-bottom: 16px;
    }

    img {
      filter: invert(1);
    }
  }

  &__start {
    @include media($md) {
      margin-bottom: 40px;
    }
  }

  &__main {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: get-vw(72px);

    @include media($md) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__nav {
    margin-right: get-vw(109px);
    margin-left: auto;

    @include media($md) {
      margin: 0 0 40px;
    }

    ul {
      li {
        a {
          @include font_14__700;

          text-transform: uppercase;
          color: $white;
        }

        &:not(:last-child) {
          margin-bottom: get-vw(20px);

          @include media($md) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  &__touch {
    margin-right: get-vw(45px);
    max-width: 30%;

    @include media($md) {
      margin-right: 0;
      max-width: 100%;
    }
  }

  &__up {
    @include flex(center, center);

    position: relative;
    width: get-vw(56px);
    height: get-vw(56px);
    border: get-vw(1px) solid $gray-black;
    background-color: $black;
    transition: background-color 0.3s;

    @include media($md) {
      position: absolute;
      right: 0;
      top: 0;
      width: 48px;
      height: 48px;
    }

    &::after {
      @include bg-contain;

      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: get-vw(24px);
      height: get-vw(24px);
      background-image: url("/src/images/up.svg");
      transform: translate(-50%, -50%);

      @media (max-width: 1200px) {
        width: 24px;
        height: 24px;
      }
    }

    &:hover {
      background-color: $green;
    }

    span {
      @include font_14;

      position: absolute;
      left: 50%;
      bottom: -50%;
      display: inline-block;
      width: 100%;
      color: $white;
      transform: translateX(-50%);

      @include media($md) {
        bottom: -70%;
      }
    }

    @media (max-width: 1200px) {
      width: 56px;
      height: 56px;
    }
  }

  &__copy {
    @include font_14;
    @include flex(center, space-between);

    padding: get-vw(24px) 0 0;
    border-top: get-vw(1px) solid rgba($white, 0.12);
    line-height: 1.43;
    color: $white;

    @include media($md) {
      flex-direction: column;
      align-items: flex-start;
      padding: 24px 0 0;
    }

    ul {
      display: flex;

      @include media($md) {
        margin: 12px 0;
      }

      li {
        &:not(:last-child) {
          position: relative;
          margin-right: get-vw(32px);

          &::after {
            content: "";
            position: absolute;
            right: get-vw(-17px);
            top: 0;
            width: get-vw(1px);
            height: get-vw(20px);
            background-color: rgba($white, 0.12);
          }
        }
      }
    }

    a {
      width: calc(100%);
      background-image: linear-gradient(transparent calc(100% - 1px), $green 1px);
      background-size: 0 90%;
      background-repeat: no-repeat;
      transition: color 0.3s, background-size 0.3s;

      &:hover {
        color: $green;
        background-size: 100% 90%;
      }
    }

    .copy-block {
      display: flex;
      width: max-content;
      color: $gray-medium;

      a {
        display: inline-block;
        margin-left: get-vw(3px);
        width: fit-content;

        @include media(1200px) {
          margin-left: 3px;
        }
      }
    }

    @media (max-width: 1200px) {
      padding: 24px 0 0;
    }
  }

  @media (max-width: 1200px) {
    padding: 60px 0 24px;
  }
}

.get-contact {
  li {
    a {
      position: relative;
      padding-left: get-vw(40px);
      width: fit-content;
      color: $white;

      &::before {
        @include bg-contain;

        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: get-vw(24px);
        height: get-vw(24px);

        @media (max-width: 1200px) {
          width: 24px;
          height: 24px;
        }
      }

      @media (max-width: 1200px) {
        padding-left: 40px;
      }
    }

    &:not(:last-child) {
      margin-bottom: get-vw(28px);

      @include media($md) {
        margin-bottom: 16px;
      }
    }

    &:first-of-type {
      a {
        &::before {
          background-image: url("/src/images/tel.svg");
        }
      }
    }

    &:nth-of-type(2) {
      a {
        &::before {
          background-image: url("/src/images/mail.svg");
        }
      }
    }

    &:nth-of-type(3) {
      a {
        &::before {
          background-image: url("/src/images/map.svg");
        }
      }
    }
  }
}

.social-list {
  display: flex;
  margin-top: get-vw(16px);

  @include media(1200px) {
    margin-top: 16px;
  }

  li {
    a {
      @include flex(center, center);

      width: get-vw(48px);
      height: get-vw(48px);
      border: get-vw(1px) solid $gray-black;

      &:hover {
        svg {
          path {
            fill: $green;
          }
        }
      }

      img,
      svg {
        width: get-vw(16px);
        height: get-vw(16px);
        transition: all 0.3s;

        path {
          transition: all 0.3s;
        }
      }

      @media (max-width: 1200px) {
        width: 48px;
        height: 48px;

        img,
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }

    &:not(:last-child) {
      margin-right: get-vw(12px);

      @include media(1200px) {
        margin-right: 12px;
      }
    }
  }
}
