.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 40;
  padding: get-vw(20px) 0 0 0;
  background-color: transparent;
  transition: all 0.3s;
}

.header--active {
  padding: get-vw(10px) 0;
  background-color: $white;
}

.menu {
  @include flex(center, space-between);

  ul {
    display: flex;
    margin-right: get-vw(40px);
    margin-left: auto;

    a {
      @include fontSize(14px);

      position: relative;
      font-weight: 700;
      line-height: 1.71;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: $black;
    }

    li {
      + li {
        margin-left: get-vw(40px);
      }
    }
  }

  &__drop {
    position: relative;

    a {
      padding-right: get-vw(24px);

      &::after {
        @include bg-contain;

        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: get-vw(24px);
        height: get-vw(24px);
        background-image: url("/src/images/header-arrow.svg");
      }
    }
  }

  &__buttons {
    display: flex;

    button:first-child {
      margin-right: get-vw(16px);
    }
  }
}

.lang-changer {
  position: absolute;
  left: 50%;
  top: get-vw(50px);
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);

  a {
    @include flex(center, center);
    @include fontSize(14px);

    padding: 0;
    width: get-vw(56px);
    height: get-vw(56px);
    font-weight: 700;
    line-height: 1.71;
    letter-spacing: -0.01em;
    text-align: center;
    text-transform: uppercase;
    color: $gray-dark;
    background-color: $gray-light;
    transition: all 0.3s;

    &::after,
    &::before {
      display: none;
    }

    &:hover {
      color: $black;
    }

    &:not(:last-child) {
      border-bottom: get-vw(1px) solid $gray-medium;
    }
  }

  .lang-active {
    a {
      color: $black;
    }
  }
}

.products-drop {
  position: absolute;
  left: 50%;
  top: get-vw(100px);
  padding: get-vw(40px) 100%;
  border-top: get-vw(1px) solid $gray-medium;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
  background-color: $white;
  transform: translateX(-50%);

  ul {
    display: flex;
    margin: 0;

    li {
      position: relative;
      padding-left: get-vw(64px);
      max-width: get-vw(250px);

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: get-vw(40px);
        height: get-vw(40px);
      }

      + li {
        margin-left: get-vw(88px);
      }
    }
  }
}