.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 40;
  padding: get-vw(20px) 0 0 0;
  background-color: transparent;
  transition: padding 0.3s, background-color 0.3s;

  @include media($lg) {
    display: none;
  }
}

.header--active {
  padding: get-vw(10px) 0;
  background-color: $white;
}

.menu {
  @include flex(center, space-between);

  &__nav {
    display: flex;
    margin-right: get-vw(40px);
    margin-left: auto;

    ul {
      display: flex;
      margin: 0 get-vw(40px);

      li {
        &:not(:last-child) {
          margin-right: get-vw(40px);
        }
      }
    }

    a {
      @include font_14__700;

      position: relative;
      text-transform: uppercase;
      color: $black;
      transition: color 0.3s;

      &:hover {
        color: $green;
      }
    }
  }

  &__drop {
    position: relative;

    a {
      padding-right: get-vw(24px);

      &::after {
        @include bg-contain;

        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: get-vw(24px);
        height: 100%;
        background-image: url("/src/images/header-arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &__buttons {
    display: flex;

    button:first-child,
    a:first-child {
      margin-right: get-vw(16px);
    }
  }
}

.lang-changer {
  position: absolute;
  left: 50%;
  top: get-vw(52px);
  z-index: 6;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%);

  a {
    @include flex(center, center);
    @include font_14;

    padding: 0;
    width: get-vw(56px);
    height: get-vw(56px);
    text-align: center;
    text-transform: uppercase;
    color: $gray-dark;
    background-color: $gray-light;
    transition: all 0.3s;

    &::after,
    &::before {
      display: none;
    }

    &:hover {
      color: $black;
    }

    &:not(:last-child) {
      border-bottom: get-vw(1px) solid $gray-medium;
    }
  }

  .lang-active {
    a {
      color: $black;
    }
  }
}

.products-drop {
  position: absolute;
  left: 50%;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  padding: get-vw(40px) 0;
  width: 100%;
  border-top: get-vw(1px) solid $gray-medium;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
  background-color: $white;
  transform: translateX(-50%);

  ul {
    display: flex;

    li {
      position: relative;
      width: 100%;
      max-width: get-vw(240px);

      &:first-child {
        max-width: fit-content;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: get-vw(40px);
        height: get-vw(40px);
      }

      h6 {
        @include font_16;

        margin-bottom: get-vw(8px);
        color: $black;
      }

      p {
        @include font_14;

        display: block;
        margin-bottom: get-vw(12px);
        width: fit-content;
      }

      a {
        width: max-content;
        font-weight: 700;
        letter-spacing: 0.01em;
        color: $black;

        &:last-child {
          position: relative;
          padding-right: get-vw(20px);

          &::after {
            @include bg-contain;

            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            width: get-vw(16px);
            height: get-vw(16px);
            font-size: 0;
            line-height: 1;
            background-image: url("/src/images/arrow-prod.svg");
            transform: translateY(-50%);
          }
        }

        &:not(:last-child) {
          margin-bottom: get-vw(12px);
        }
      }

      .products-drop__inactive {
        color: $gray-medium;

        &::after {
          display: none;
        }
      }

      &:not(:first-child) {
        margin-left: get-vw(88px);
        padding-left: get-vw(64px);
      }
    }
  }
}
