body {
  @include fontSize(16px);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $gray-dark;
  background-color: $white;
  cursor: default;
}

.container,
.container-header {
  margin: 0 auto;
  padding: 0 get-vw(40px);
  width: 100%;

  @media (max-width: 1800px) {
    padding: 0 40px;
  }
}

.container {
  //max-width: 1264px;
  @media (min-width: 1800px) {
    max-width: get-vw(1440px);
  }
}

.container-header {
  @media (min-width: 1800px) {
    max-width: get-vw(1440px);
  }
}

.btn {
  @include flex(center, center);
  @include fontSize(14px);

  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0 get-vw(24px);
  width: fit-content;
  height: get-vw(56px);
  min-width: fit-content;
  border: none;
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: $white;
  background-image: url("/src/images/hover.svg");
  background-position: 0 -100%;
  background-repeat: repeat-x;
  background-color: $black;
  transition: all 0.5s;

  &:hover {
    background-position: 100% 50%;

    .btn__text-box {
      transform: translateY(-100%);
    }
  }

  p {
    transition: all 0.3s;
  }

  img {
    transition: all 0.3s;
  }

  span {
    position: absolute;
    left: 0;
    top: 0;
  }

  img {
    width: get-vw(24px);
    height: get-vw(24px);
  }

  &.btn__social {
    padding: 0;
    width: get-vw(48px);
    height: get-vw(48px);
    border: get-vw(1px) solid $white;
    background-color: transparent;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      width: get-vw(16px);
      height: get-vw(16px);
      transform: translate(-50%, -50%);
    }
  }

  &.btn__white {
    border: none;
    color: $gray-black;
    background-color: $white;

    &:hover {
      border: none;

      p {
        color: $white;
      }

      img {
        filter: invert(1);
      }
    }
  }

  &.btn__disable {
    border: get-vw(1px) solid $gray-medium;
    color: $white;
    background-image: none;
    background-color: $gray-medium;
    cursor: not-allowed;
  }

  &.btn__play {
    width: get-vw(72px);
    height: get-vw(72px);
    font-size: 0;
    line-height: 1;
    background-image: none;
    background-color: $black;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: get-vw(24px);
      height: get-vw(24px);
      background-image: url("/src/images/play.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
      transition: all 0.3s;
    }

    &:hover {
      background-color: $green;

      &::after {
        filter: invert(1);
      }
    }
  }

  // Header Buttons
  &.btn__blank,
  &.btn__narrow {
    padding: 0 get-vw(20px);
    height: get-vw(48px);
  }

  &.btn__blank {
    border: get-vw(1px) solid $black;
    color: $black;
    background-image: none;
    background-color: transparent;

    &:hover {
      border: get-vw(1px) solid $green;

      p {
        color: $green;
      }
    }
  }

  &.btn__narrow {
    color: $white;
  }

  &__text-wrap {
    position: relative;
    height: get-vw(24px);
    overflow: hidden;
  }

  &__text-box {
    display: flex;
    transition: all 0.3s;

    p {
      transition: all 0.3s !important;
    }
  }
}

.text__green {
  display: inline-block;
  color: $green;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;

  span {
    color: $green;
  }
}

h1,
h2 {
  font-weight: 900;
  letter-spacing: -0.02em;
}

h1 {
  @include fontSize(64px);

  line-height: 1.12;
}

h2 {
  @include fontSize(48px);

  margin-bottom: get-vw(64px);
  line-height: 1.17;
}

h3,
h4,
h5 {
  font-weight: 700;
}

h3 {
  @include fontSize(40px);

  line-height: 1.2;
  letter-spacing: -0.03em;
}

h4 {
  @include fontSize(32px);

  line-height: 1.25;
  letter-spacing: -0.02em;

  &.h4__400 {
    font-weight: 400;
    letter-spacing: -0.01em;
  }
}

h5 {
  @include fontSize(24px);

  line-height: 1.33;
  letter-spacing: -0.01em;

  &.h5__400 {
    font-weight: 400;
  }
}

.logo {
  width: get-vw(180px);
}

.custom-btn {
  position: relative;
  margin-top: auto;
  width: get-vw(56px);
  height: get-vw(56px);
  border: none;
  transition: all 0.3s;

  &::before {
    @include bg-contain;

    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    width: get-vw(24px);
    height: get-vw(24px);
    background-image: url("/src/images/plus.svg");
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: get-vw(56px);
    height: get-vw(56px);
    background-color: $black;
    transition: all 0.3s;
  }

  &:hover {
    &::after {
      background-color: $green;
    }
  }
}

.scroll {
  @include flex(center, center);
  @include fontSize(14px);

  position: absolute;
  z-index: 5;
  flex-direction: column;
  line-height: 1.43;
  color: $black;

  img {
    margin-top: get-vw(12px);
    width: get-vw(24px);
    height: get-vw(32px);
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  transition: 0.8s;
}

.cookies {
  position: fixed;
  left: 0;
  right: 0;
  bottom: get-vw(12px);
  z-index: 30;
  margin: 0 auto;
  padding: get-vw(16px) get-vw(24px);
  width: fit-content;
  box-shadow: 0 get-vw(8px) get-vw(20px) rgba(32, 92, 52, 0.08);
  color: $black;
  background-color: $white;

  .btn {
    margin: 0 get-vw(16px) 0 auto;
    height: get-vw(28px);
    font-weight: 600;
    color: $white;
    background-color: $black;
  }

  &__inner {
    @include flex(center, space-between);
  }

  &__text {
    @include fontSize(14px);

    position: relative;
    padding-right: get-vw(107px);
    padding-left: get-vw(32px);
    line-height: 1.43;

    &::after {
      @include bg-contain;

      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: get-vw(24px);
      height: get-vw(24px);
      background-image: url("/src/images/cookies.svg");
      filter: invert(1);
      transform: translateY(-50%);
    }

    a {
      display: inline-block;
      text-decoration: underline;
    }
  }

  &__close {
    @include flex(center, center);

    position: relative;
    width: get-vw(28px);
    height: get-vw(28px);
    border: get-vw(1px) solid $gray-black;

    &:hover {
      img {
        transform: rotate(90deg);
      }
    }

    img {
      width: get-vw(12px);
      height: get-vw(12px);
      filter: invert(1);
      transition: all 0.3s;
    }
  }
}

.pre {
  position: relative;
  z-index: 5;
  height: get-vw(500px);
  max-height: get-vw(500px);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: get-vw(256px);
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 100%);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: get-vw(356px);
    background-image: linear-gradient(360deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0) 100%);
    transform: rotate(180deg);
  }

  img {
    width: 100%;
    height: get-vw(500px);
    object-fit: cover;
  }

  .container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: get-vw(56px);
  }

  h1 {
    color: $white;
  }
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -10;
  display: flex;
  justify-content: center;
  opacity: 0;
  padding-top: get-vw(100px);
  width: 100%;
  height: 100%;

  .layer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.4);
  }

  .main-popup {
    position: relative;
    z-index: 2;
    padding: get-vw(40px);
    width: get-vw(420px);
    height: fit-content;
    box-shadow: 0 get-vw(4px) get-vw(16px) rgba(0, 0, 0, 0.12);
    background-color: $white;

    .img {
      margin-bottom: get-vw(24px);
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        min-height: get-vw(340px);
        object-fit: cover;
      }
    }

    span,
    p {
      @include fontSize(14px);

      display: block;
      margin-bottom: get-vw(16px);
      font-weight: 400;
      line-height: 1.43;
      color: $gray-dark;
    }

    h5 {
      margin-bottom: get-vw(4px);
    }

    .btns {
      display: flex;

      .btn {
        position: relative;
        padding: 0;
        width: get-vw(40px);
        height: get-vw(40px);
        border: get-vw(1px) solid $gray-medium;
        background-color: transparent;

        &::before {
          @include bg-contain;

          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 5;
          width: get-vw(16px);
          height: get-vw(16px);
          transform: translate(-50%, -50%);
        }

        &:not(:last-child) {
          margin-right: get-vw(16px);
        }
      }

      .linkedin {
        &::before {
          background-image: url("/src/images/linkedin.svg");
          filter: invert(1);
        }
      }
    }
  }

  .btn_close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: get-vw(128px);
    height: get-vw(128px);
    border: get-vw(1px) solid rgba(0, 0, 0, 0.12);
    background-color: $gray-black;
    cursor: pointer;

    svg {
      width: 100%;
    }
  }
}

.mr-10 {
  margin-right: get-vw(10px);
}

.ml-16 {
  margin-left: get-vw(16px);
}

.ml-8 {
  margin-left: get-vw(8px);
}

blockquote {
  @include fontSize(48px);

  position: relative;
  margin-bottom: get-vw(32px);
  font-weight: 900;
  line-height: 1.17;
  letter-spacing: -0.03em;

  &::after {
    @include bg-contain;

    content: "";
    position: absolute;
    left: 0;
    top: get-vw(-72px);
    width: get-vw(40px);
    height: get-vw(40px);
    font-size: 0;
    line-height: 1;
    background-image: url("/src/images/blockquote.svg");
  }
}

.social-link {
  @include flex(center, center);

  width: get-vw(48px);
  height: get-vw(48px);
  background-color: transparent;

  &:hover {
    svg {
      path {
        fill: $green;
      }
    }
  }

  img,
  svg {
    width: get-vw(16px);
    height: get-vw(16px);
    transition: all 0.3s;

    path {
      transition: all 0.3s;
    }
  }

  &__white {
    border: get-vw(1px) solid $white;
  }
}