body {
  @include fontSize(16px);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $gray-dark;
  background-color: $white;
  cursor: default;
}

.container {
  max-width: calc(100% - 8px);

  @media (min-width: 576px) {
    max-width: calc(100% - 20px);
  }

  @media (min-width: 768px) {
    max-width: calc(100% - 20px);
  }

  @media (min-width: 992px) {
    max-width: calc(100% - 46px);
  }

  @media (min-width: 120px) {
    max-width: calc(100% - 46px);
  }

  @media (min-width: 1400px) {
    max-width: 1200px;
  }

  @media (min-width: 1800px) {
    max-width: get-vw(1440px);
  }
}

.container,
.container-header {
  position: relative;
  margin: 0 auto;
  padding: 0 get-vw(40px);
}

.container {
  //max-width: get-vw(1440px);
}

.container-header {
  //max-width: get-vw(1440px);
}

.btn {
  @include flex(center, center);
  @include fontSize(14px);

  position: relative;
  padding: 0 get-vw(24px);
  width: fit-content;
  height: get-vw(56px);
  min-width: fit-content;
  font-weight: 700;
  line-height: get-vw(24px);
  letter-spacing: -0.01em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    .btn__text-box {
      transform: translateY(-100%);
    }
  }

  span {
    position: absolute;
    left: 0;
    top: 0;
  }

  img {
    margin-left: get-vw(8px);
    width: get-vw(24px);
    height: get-vw(24px);
  }

  &.btn__disable {
    color: $white;
    background-color: $gray-medium;
  }

  &.btn__narrow {
    padding: 0 get-vw(20px);
    height: get-vw(48px);
    color: $white;
    background-color: $black;
  }

  &.btn__black {
    color: $white;
    background-color: $black;

    &:hover {
      background-color: $gray-black;
    }
  }

  &.btn__white {
    color: $gray-black;
    background-color: $white;
  }

  &.btn__blank {
    padding: 0 get-vw(20px);
    height: get-vw(48px);
    border: get-vw(1px) solid $black;
    color: $black;
    background-color: transparent;
  }

  &.btn__play {
    width: get-vw(72px);
    height: get-vw(72px);
    font-size: 0;
    line-height: 1;
    background-color: $black;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: get-vw(24px);
      height: get-vw(24px);
      background-image: url("/src/images/play.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
    }
  }

  &__text-wrap {
    position: relative;
    height: get-vw(24px);
    overflow: hidden;
  }

  &__text-box {
    display: flex;
    transition: all 0.3s;
  }
}

.text__green {
  display: inline-block;
  color: $green;
}

h1,
h2 {
  font-weight: 900;
  letter-spacing: -0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}

h1 {
  @include fontSize(64px);

  line-height: 1.12;
}

h2 {
  @include fontSize(48px);

  margin-bottom: get-vw(64px);
  line-height: 1.17;

  span {
    display: inline-block;
    color: $green;
  }
}

h3,
h4,
h5 {
  font-weight: 700;
}

h3 {
  @include fontSize(40px);

  line-height: 1.2;
  letter-spacing: -0.03em;
}

h4 {
  @include fontSize(32px);

  line-height: 1.25;
  letter-spacing: -0.02em;

  &.h4__400 {
    font-weight: 400;
    letter-spacing: -0.01em;
  }
}

h5 {
  @include fontSize(24px);

  line-height: 1.33;
  letter-spacing: -0.01em;

  &.h5__400 {
    font-weight: 400;
  }
}

.logo {
  width: get-vw(180px);
}

.custom-btn {
  position: relative;
  margin-top: auto;
  width: get-vw(56px);
  height: get-vw(56px);
  border: none;

  &::before {
    @include bg-contain;

    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    width: get-vw(24px);
    height: get-vw(24px);
    background-image: url("/src/images/plus.svg");
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: get-vw(56px);
    height: get-vw(56px);
    background-color: $black;
  }
}

.scroll {
  @include flex(center, center);
  @include fontSize(14px);

  position: absolute;
  z-index: 5;
  flex-direction: column;
  line-height: 1.43;
  color: $black;

  img {
    margin-top: get-vw(12px);
    width: get-vw(24px);
    height: get-vw(32px);
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  transition: 0.8s;
}

.cookies {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  padding: get-vw(10px);
  background-color: $black;

  .btn {
    margin: 0 get-vw(16px) 0 auto;
    height: get-vw(28px);
    font-weight: 600;
    color: $black;
  }

  &__wrapper {
    @include flex(center, space-between);

    p {
      @include fontSize(14px);

      position: relative;
      padding-left: get-vw(32px);
      line-height: 1.43;
      color: $white;

      &::after {
        @include bg-contain;

        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: get-vw(24px);
        height: get-vw(24px);
        background-image: url("/src/images/cookies.svg");
        transform: translateY(-50%);
      }

      a {
        display: inline-block;
      }
    }
  }

  &__close {
    position: relative;
    width: get-vw(28px);
    height: get-vw(28px);
    min-width: get-vw(28px);
    min-height: get-vw(28px);
    border: get-vw(1px) solid $gray-black;

    &::after {
      @include bg-contain;

      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: get-vw(13px);
      height: get-vw(13px);
      min-width: get-vw(13px);
      min-height: get-vw(13px);
      background-image: url("/src/images/close.svg");
      transform: translate(-50%, -50%);
    }
  }
}

.pre {
  position: relative;
  z-index: 5;
  height: get-vw(500px);
  max-height: get-vw(500px);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: get-vw(256px);
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 100%);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: get-vw(356px);
    background-image: linear-gradient(360deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0) 100%);
    transform: rotate(180deg);
  }

  img {
    width: 100%;
    height: get-vw(500px);
    object-fit: cover;
  }

  .container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: get-vw(56px);
  }

  h1 {
    color: $white;
  }
}