body {

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include font_16;
  color: $gray-dark;
  background-color: $white;
  cursor: default;
}

.container,
.container-header {
  margin: 0 auto;
  padding: 0 get-vw(40px);
  width: 100%;

  @media (min-width: 1800px) {
    max-width: get-vw(1520px);
  }
}

.container-header {
  @media (min-width: 1800px) {
    max-width: get-vw(1660px);
  }
}

section {
  padding: get-vw(140px) 0;
}

.btn {
  @include flex(center, center);
  //@include fontSize(14px);
  @include font_button;

  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0 get-vw(24px);
  width: fit-content;
  height: get-vw(56px);
  min-width: fit-content;
  border: none;
  //font-weight: 700;
  //line-height: 1.71;
  //letter-spacing: -0.01em;
  text-transform: uppercase;
  color: $white;
  background-image: url("/src/images/hover.svg");
  background-position: 0 -100%;
  background-repeat: repeat-x;
  background-color: $black;
  transition: background-position 0.3s, border 0.3s, background-color 0.3s;

  &:hover {
    background-position: 100% 50%;

    .btn__text-box {
      transform: translateY(-100%);
    }
  }

  p {
    transition: all 0.3s;
  }

  img {
    width: get-vw(24px);
    height: get-vw(24px);
    transition: all 0.3s;
  }

  &.btn__social {
    padding: 0;
    width: get-vw(48px);
    height: get-vw(48px);
    border: get-vw(1px) solid $white;
    background-color: transparent;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      width: get-vw(16px);
      height: get-vw(16px);
      transform: translate(-50%, -50%);
    }
  }

  &.btn__white {
    border: none;
    color: $gray-black;
    background-color: $white;

    &:hover {
      border: none;

      p {
        color: $white;
      }

      img {
        filter: invert(1);
      }
    }
  }

  &.btn__disable {
    border: get-vw(1px) solid $gray-medium;
    color: $white;
    background-image: none;
    background-color: $gray-medium;
    cursor: not-allowed;
  }

  &.btn__play {
    width: get-vw(72px);
    height: get-vw(72px);
    font-size: 0;
    line-height: 1;
    background-image: none;
    background-color: $black;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: get-vw(24px);
      height: get-vw(24px);
      background-image: url("/src/images/play.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
      transition: all 0.3s;
    }

    &:hover {
      background-color: $green;

      &::after {
        filter: invert(1);
      }
    }
  }

  // Header Buttons
  &.btn__blank,
  &.btn__narrow {
    padding: 0 get-vw(20px);
    height: get-vw(48px);
  }

  &.btn__blank {
    border: get-vw(1px) solid $black;
    color: $black;
    background-image: none;
    background-color: transparent;

    &:hover {
      border: get-vw(1px) solid $green;

      p {
        color: $green;
      }
    }
  }

  &.btn__narrow {
    color: $white;
  }

  &__text-wrap {
    position: relative;
    height: get-vw(24px);
    overflow: hidden;
  }

  &__text-box {
    display: flex;
    transition: all 0.3s;

    span {
      width: 100%;
      min-width: max-content;
      max-width: max-content;
      transition: all 0.3s;
    }

    p {
      transition: all 0.3s;
    }
  }
}

.logo {
  width: get-vw(180px);
}

.custom-btn {
  position: relative;
  margin-top: auto;
  width: get-vw(56px);
  height: get-vw(56px);
  border: none;
  transition: all 0.3s;

  &::before {
    @include bg-contain;

    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    width: get-vw(24px);
    height: get-vw(24px);
    background-image: url("/src/images/plus.svg");
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: get-vw(56px);
    height: get-vw(56px);
    background-color: $black;
    transition: all 0.3s;
  }

  &:hover {
    &::after {
      background-color: $green;
    }
  }
}

.scroll {
  @include flex(center, center);
  @include font_14;

  position: absolute;
  z-index: 5;
  flex-direction: column;
  color: $black;

  img {
    margin-top: get-vw(12px);
    width: get-vw(24px);
    height: get-vw(32px);
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  transition: 0.8s;
}

.cookies {
  position: fixed;
  left: 0;
  right: 0;
  bottom: get-vw(12px);
  z-index: 30;
  margin: 0 auto;
  padding: get-vw(16px) get-vw(24px);
  width: fit-content;
  box-shadow: 0 get-vw(8px) get-vw(20px) rgba(32, 92, 52, 0.08);
  color: $black;
  background-color: $white;

  .btn {
    margin: 0 get-vw(16px) 0 auto;
    height: get-vw(28px);
    font-weight: 600;
    color: $white;
    background-color: $black;
  }

  &__inner {
    @include flex(center, space-between);
  }

  &__text {
    @include font_14;

    position: relative;
    padding-right: get-vw(107px);
    padding-left: get-vw(32px);

    &::after {
      @include bg-contain;

      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: get-vw(24px);
      height: get-vw(24px);
      background-image: url("/src/images/cookies.svg");
      filter: invert(1);
      transform: translateY(-50%);
    }

    a {
      display: inline-block;
      margin-left: get-vw(1px);
      background-image: linear-gradient(transparent calc(100% - 1px), $green 1px);
      background-size: 0 90%;
      background-repeat: no-repeat;
      transition: color 0.3s, background-size 0.3s;

      &:hover {
        color: $green;
        background-size: 100% 90%;
      }
    }
  }

  &__close {
    @include flex(center, center);

    position: relative;
    width: get-vw(28px);
    height: get-vw(28px);
    border: get-vw(1px) solid $gray-black;

    &:hover {
      img {
        transform: rotate(90deg);
      }
    }

    img {
      width: get-vw(12px);
      height: get-vw(12px);
      filter: invert(1);
      transition: all 0.3s;
    }
  }
}

.pre {
  position: relative;
  z-index: 5;
  padding: 0;
  height: get-vw(500px);
  max-height: get-vw(500px);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: get-vw(256px);
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 100%);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: get-vw(356px);
    background-image: linear-gradient(360deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0) 100%);
    transform: rotate(180deg);
  }

  h1 {
    @include fontSize(64px);

    font-weight: 900;
    line-height: 1.12;
    letter-spacing: -0.02em;
    color: $white;
  }

  img {
    width: 100%;
    height: get-vw(500px);
    object-fit: cover;
  }

  .container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: get-vw(56px);
  }
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -10;
  display: flex;
  justify-content: center;
  opacity: 0;
  padding-top: get-vw(100px);
  width: 100%;
  height: 100%;

  .layer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.4);
  }

  .main-popup {
    position: relative;
    z-index: 2;
    padding: get-vw(40px);
    width: get-vw(420px);
    height: fit-content;
    box-shadow: 0 get-vw(4px) get-vw(16px) rgba(0, 0, 0, 0.12);
    background-color: $white;

    .btn_close {
      position: absolute;
      left: 100%;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: get-vw(128px);
      height: get-vw(128px);
      border: get-vw(1px) solid rgba(0, 0, 0, 0.12);
      background-color: $gray-black;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        background-color: $black;
      }

      svg {
        width: 100%;
      }
    }

    .img {
      margin-bottom: get-vw(24px);
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        min-height: get-vw(340px);
        object-fit: cover;
      }
    }

    .h5,
    h5 {
      @include font_24;

      margin-bottom: get-vw(4px);
      color: $black;
    }

    span,
    p {
      @include font_14;

      display: block;
      margin-bottom: get-vw(16px);
      line-height: 1.43;
    }

    .btns {
      display: flex;

      .btn {
        position: relative;
        padding: 0;
        width: get-vw(40px);
        height: get-vw(40px);
        border: get-vw(1px) solid $gray-medium;
        background-image: none;
        background-color: transparent;

        &::before {
          @include bg-contain;

          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 5;
          width: 100%;
          height: get-vw(16px);
          transform: translate(-50%, -50%);
          transition: filter 0.3s;
        }

        &:hover {
          border: get-vw(1px) solid $green;
          background-color: $green;

          &::before {
            filter: invert(0);
          }

          svg {
            path {
              fill: $white;
            }
          }
        }

        svg {
          z-index: 5;
          width: 16px;
          height: 16px;

          path {
            fill: $black;
            transition: fill 0.3s;
          }
        }

        &:not(:last-child) {
          margin-right: get-vw(16px);
        }
      }

      .linkedin {
        &::before {
          background-image: url("/src/images/linkedin.svg");
          filter: invert(1);
          transition: filter 0.3s;
        }
      }
    }
  }
}

.mr-10 {
  margin-right: get-vw(10px);
}

.ml-16 {
  margin-left: get-vw(16px);
}

.ml-8 {
  margin-left: get-vw(8px);
}

blockquote {
  @include fontSize(48px);

  position: relative;
  margin-bottom: get-vw(32px);
  font-weight: 900;
  line-height: 1.17;
  letter-spacing: -0.03em;

  &::after {
    @include bg-contain;

    content: "";
    position: absolute;
    left: 0;
    top: get-vw(-72px);
    width: get-vw(40px);
    height: get-vw(40px);
    font-size: 0;
    line-height: 1;
    background-image: url("/src/images/blockquote.svg");
  }
}

.social-link {
  @include flex(center, center);

  width: get-vw(48px);
  height: get-vw(48px);
  background-color: transparent;

  &:hover {
    svg {
      path {
        fill: $green;
      }
    }
  }

  img,
  svg {
    width: get-vw(16px);
    height: get-vw(16px);
    transition: all 0.3s;

    path {
      transition: all 0.3s;
    }
  }

  &__white {
    border: get-vw(1px) solid $white;
  }
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
}

.fade-left {
  opacity: 0;
  transform: translateX(40px);
}

.fade {
  opacity: 0;
}

.select-group {
  .wpcf7-form-control-wrap select {
    display: none;
    padding: 0;
    height: 0;
  }

  label {
    z-index: 4;
    transform: translate(0, -25px);
    pointer-events: none;
  }

  .form_select {
    position: relative;
    z-index: 3;

    .main_select {
      button {
        @include flex(center, flex-start);

        margin-bottom: 0;
        padding: 18px 16px;
        width: 100%;
        border: none;
        border-bottom: 1px solid $gray_dark;
        background-color: $white;

        .text {
          display: inline-block;
          margin-right: 8px;
          max-width: calc(100% - 48px);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .arrow {
          content: "";
          display: inline-block;
          margin-left: auto;
          width: 16px;
          height: 16px;
          background-size: cover;
        }

        &.open {
          border-bottom: 1px solid $black;

          .arrow {
            transform: rotate(180deg);
          }
        }

        @media (min-width: 1920px) {
          margin-bottom: get-vw(32px);
        }

        @media (max-width: 1280px) {
          padding: 17px 16px;
        }
      }
    }

    .drop_wrapper {
      position: absolute;
      left: 0;
      top: calc(100% + 8px);
      z-index: 2;
      width: 100%;
      overflow: hidden;
      box-shadow: 0 0 24px rgba(0, 0, 0, 0.16);
      background-color: $white;
    }

    .main_drop {
      width: calc(100% + 14px);
      overflow-x: hidden;
      overflow-y: scroll;

      .drop_list {
        display: block;
        padding: 0 12px;

        .select-item {
          display: block;
          padding: 12px 0;
          width: 100%;
          border: none;
          border-bottom: 1px solid #f6f6f6;
          text-align: left;
          color: $black;
          background-color: transparent;
        }
      }
    }

    &.empty {
      opacity: 0.6;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  .wpcf7-not-valid-tip {
    margin-top: -22px;
    margin-bottom: 10px;
  }

  &.open {
    z-index: 10;
  }
}
