.value {
  padding: get-vw(140px) 0;
  background-color: $gray-light;

  h4 {
    margin-bottom: get-vw(16px);
    max-width: 80%;
  }

  &__wrapper {
    display: grid;
    grid-gap: 0 get-vw(24px);
    grid-template-columns: 1fr 1fr;
  }
}

.team {
  padding: get-vw(140px) 0;

  ul {
    display: grid;
    grid-gap: get-vw(24px);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  h2 {
    margin-bottom: get-vw(64px);
  }

  h6 {
    @include fontSize(16px);

    margin: get-vw(16px) 0 get-vw(4px);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: $black;
  }

  p {
    @include fontSize(14px);

    margin-bottom: get-vw(12px);
    line-height: 1.43;
  }

  a {
    @include flex(center, center);

    position: relative;
    width: get-vw(40px);
    height: get-vw(40px);
    border: get-vw(1px) solid $gray-medium;

    &::after {
      @include bg-contain;

      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: get-vw(16px);
      height: get-vw(16px);
      background-image: url("/src/images/linkedin.svg");
      filter: invert(1);
      transform: translate(-50%, -50%);
    }
  }
}

.expect {
  position: relative;
  height: get-vw(810px);

  .container {
    height: get-vw(810px);
  }

  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: get-vw(810px);
    object-fit: cover;
  }

  h2 {
    padding-top: get-vw(104px);
    max-width: get-vw(690px);
    color: $white;
  }
}

.benefits {
  padding: get-vw(140px) 0;
  background-color: $gray-light;

  h2 {
    margin-bottom: get-vw(64px);
  }

  .panel {
    cursor: pointer;
  }

  .panel-group {
    height: fit-content;
    max-width: get-vw(486px);
    border-bottom: get-vw(1px) solid $gray-medium;
  }

  .item_title {
    display: flex;
    align-items: center;
    padding: get-vw(32px) 0;
    border-top: get-vw(1px) solid $gray-medium;
    transition: all 0.3s;

    button {
      position: relative;
      margin-left: auto;
      width: get-vw(36px);
      height: get-vw(36px);
      min-width: get-vw(36px);
      min-height: get-vw(36px);
      border: get-vw(1px) solid $black;
      background-color: transparent;
      transition: all 0.3s;

      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        background-color: $black;
        transform: translate(-50%, -50%);
        transition: all 0.3s;
      }

      &::before {
        opacity: 0;
        width: get-vw(1px);
        height: get-vw(8px);
      }

      &::after {
        width: get-vw(8px);
        height: get-vw(1px);
      }
    }

    span {
      position: relative;
      margin-right: get-vw(32px);
    }

    span,
    p {
      @include fontSize(20px);

      display: block;
      font-weight: 700;
      line-height: 1.4;
      color: $black;
    }
  }

  .panel-collapse {
    height: 0;
    overflow: hidden;
  }

  .panel-body {
    padding-bottom: get-vw(32px);

    p:first-of-type {
      @include fontSize(16px);

      margin-bottom: get-vw(12px);
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0.01em;
      color: $black;
    }

    p:nth-of-type(2) {
      @include fontSize(14px);

      line-height: 1.43;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    width: 100%;
    max-width: get-vw(586px);
    max-height: get-vw(586px);

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.tradition {
  padding: get-vw(140px) 0;

  h2 {
    margin-bottom: get-vw(32px);
  }

  h4 {
    margin-bottom: get-vw(64px);
  }

  ul {
    display: grid;
    grid-gap: 0 get-vw(24px);
    grid-template-columns: 1fr 1fr 1fr;

    li {
      opacity: 0.48;
      transition: all 0.3s;
      cursor: pointer;
    }

    .tradition__active {
      opacity: 1;
    }

    h6 {
      @include fontSize(20px);

      position: relative;
      margin-bottom: get-vw(24px);
      padding-bottom: get-vw(24px);
      font-weight: 700;
      line-height: 1.4;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: get-vw(1px);
        background-color: $gray-medium;
      }
    }

    b {
      display: block;
      margin-bottom: get-vw(24px);
      letter-spacing: 0.01em;
      color: $black;
    }

    p {
      color: $black;
    }
  }

  &__pic {
    display: grid;
    grid-gap: 0 get-vw(24px);
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: get-vw(48px);
  }

  &__pic-big {
    grid-column: 1 / 3;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__pic-small {
    grid-column: 3 / 3;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
