.session {
  h2,
  .h2 {
    max-width: 60%;
  }

  h5,
  .h5 {
    max-width: 50%;
  }

  .get-contact {
    li {
      a {
        color: $black;

        &::before {
          filter: invert(1);
        }
      }
    }
  }

  .social-list {
    svg {
      path {
        fill: $black;
      }
    }

    li {
      a {
        border: get-vw(1px) solid $gray-medium;

        img {
          filter: invert(1);
        }
      }
    }
  }

  &__wrapper {
    @include flex(flex-start, space-between);
  }

  &__main {
    max-width: 50%;
  }
}

.map-big {
  padding: 0;
  height: get-vw(600px);
  background-image: url("/src/images/map-big.jpeg?as=webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .h4,
  h4 {
    margin-top: auto;
    max-width: get-vw(422px);
  }

  .btn__white {
    border: none;

    &:hover {
      span {
        color: $white;
      }
    }

    span {
      color: $black;
    }
  }

  .btn {
    margin-bottom: get-vw(72px);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: get-vw(600px);
  }
}

.referral {
  &__wrapper {
    @include flex(flex-start, space-between);
  }

  &__main {
    max-width: get-vw(510px);
  }
}

.potential {
  padding: get-vw(140px) 0 get-vw(162px);
  background-image: url("/src/images/potential.jpeg?as=webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .h2,
  h2 {
    max-width: 52%;
  }
}

.career {
  &__wrapper {
    @include flex(flex-start, space-between);
  }

  &__main {
    width: 100%;
    max-width: 50%;

    .h5,
    h5 {
      max-width: get-vw(486px);
    }
  }
}