.session {
  padding: get-vw(140px) 0;

  h2 {
    margin-bottom: get-vw(16px);
    max-width: get-vw(456px);
  }

  h5 {
    margin-bottom: get-vw(40px);
    max-width: get-vw(355px);
    color: $gray-dark;
  }

  h6 {
    @include fontSize(14px);

    margin-bottom: get-vw(16px);
    font-weight: 400;
    line-height: 1.43;
    color: $gray-dark;

    &:not(:last-child) {
      margin-top: get-vw(40px);
    }
  }

  .get-contact {
    li {
      a {
        color: $black;

        &::before {
          filter: invert(1);
        }
      }
    }
  }

  .social-list {
    li {
      a {
        border: get-vw(1px) solid $gray-medium;

        img {
          filter: invert(1);
        }
      }
    }
  }

  &__wrapper {
    @include flex(flex-start, space-between);
  }

  &__main {
    max-width: get-vw(486px);
  }
}

.map-big {
  height: get-vw(600px);
  background-image: url("/src/images/map-big.jpeg?as=webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  h4 {
    margin-top: auto;
    margin-bottom: get-vw(32px);
    max-width: get-vw(422px);
    color: $white;
  }

  .btn {
    margin-bottom: get-vw(72px);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: get-vw(600px);
  }
}

.referral {
  padding: get-vw(140px) 0;

  h2 {
    margin-bottom: get-vw(32px);
  }

  h4 {
    margin-bottom: get-vw(48px);
  }

  h5 {
    color: $green;
  }

  &__wrapper {
    @include flex(flex-start, space-between);
  }

  &__main {
    max-width: get-vw(510px);
  }
}

.potential {
  padding: get-vw(140px) 0 get-vw(162px);
  background-image: url("/src/images/potential.jpeg?as=webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  h2 {
    margin-bottom: 0;
    max-width: 52%;
    color: $white;
  }
}

.career {
  padding: get-vw(140px) 0;

  h2 {
    margin-bottom: get-vw(32px);
  }

  &__wrapper {
    @include flex(flex-start, space-between);
  }

  &__main {
    width: 100%;
    max-width: 50%;
  }
}