.general-page {
  padding: get-vw(160px) 0 get-vw(120px);

  .h1 {
    padding-bottom: get-vw(48px);
    border-bottom: get-vw(1px) solid $gray-medium;

    @media (max-width: 1200px) {
      margin-bottom: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid $gray-medium;
    }
  }

  &__wrapper {
    @include flex(flex-start, space-between);
  }

  @media (max-width: 1200px) {
    padding: 133px 0 72px;
  }
}

.terms {
  .btn__white {
    border: get-vw(1px) solid $gray-medium;

    &:hover {
      border: get-vw(1px) solid $green;

      span {
        color: $white;
      }
    }

    span {
      color: $black;
    }
  }

  .general-page__wrapper {
    @include media($lg) {
      flex-direction: column;
    }
  }

  &__nav {
    @include media($lg) {
      margin-bottom: 40px;
    }
  }

  &__main {
    max-width: 55%;

    @include media($lg) {
      max-width: 100%;
    }

    p {
      margin-bottom: get-vw(24px);

      @include media($lg) {
        margin-bottom: 24px;
      }
    }

    ul {
      li {
        position: relative;
        padding-left: get-vw(18px);

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: get-vw(13px);
          width: get-vw(6px);
          height: get-vw(6px);
          border-radius: 50%;
          background-color: $green;
        }

        &:not(:last-child) {
          margin-bottom: get-vw(16px);
        }
      }
    }

    ol {
      li {
        margin-left: get-vw(22px);

        @include media($lg) {
          margin-left: 18px;
        }

        &:not(:last-child) {
          margin-bottom: get-vw(16px);
        }

        &::marker {
          @include font_16;
          @include f_600;

          line-height: get-vw(24px);
          color: $black;
        }
      }
    }
  }
}

.thank {
  padding-bottom: get-vw(58px);

  .general-page__wrapper {
    @media (max-width: 647px) {
      flex-direction: column;
    }
  }

  .h5,
  h5 {
    margin-bottom: get-vw(32px);
    max-width: 80%;

    @include media($lg) {
      max-width: 90%;
    }

    @media (max-width: 1200px) {
      margin-bottom: 24px;
    }

    @media (max-width: 647px) {
      max-width: 100%;
    }
  }

  .general-page__text {
    @media (max-width: 647px) {
      margin-bottom: 48px;
    }
  }

  .general-page__img {
    width: 100%;

    img {
      margin-left: auto;
      width: get-vw(486px);
      height: get-vw(486px);

      @media (max-width: 1200px) {
        width: 100%;
        height: auto;
        max-width: 335px;
      }

      @media (max-width: 647px) {
        margin: 0 auto;
      }
    }
  }

  @media (max-width: 1200px) {
    padding-bottom: 72px;
  }
}

.error {
  padding-bottom: get-vw(75px);

  .general-page__wrapper {
    @include media($md) {
      flex-direction: column;
    }
  }

  .h5,
  h5 {
    margin-bottom: get-vw(32px);

    @include media(1200px) {
      margin-bottom: 24px;
    }
  }

  .general-page__text {
    margin-right: get-vw(24px);
    max-width: 28%;

    @include media(1200px) {
      margin-right: 24px;
      max-width: 40%;
    }

    @include media($md) {
      margin-right: 0;
      margin-bottom: 40px;
      max-width: 100%;
    }
  }

  &__message {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
    text-align: center;

    &::after,
    &::before {
      @include bg-contain;

      content: "";
      position: absolute;
      width: get-vw(283px);
      height: get-vw(282px);

      @include media($md) {
        width: 120px;
        height: 120px;
      }
    }

    &::before {
      left: 0;
      top: 0;
      background-image: url("/src/images/error-decor.svg");
    }

    &::after {
      right: 0;
      bottom: 0;
      background-image: url("/src/images/error-decor2.svg");
    }

    p {
      @include fontSize(450px);

      padding: get-vw(96px) 0 0 0;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.06em;
      color: $green;

      @include media(1200px) {
        font-size: 191px;
      }

      @include media($sm) {
        font-size: 161px;
      }
    }
  }

  @media (max-width: 1200px) {
    padding-bottom: 72px;
  }
}
