.general-page {
  padding: get-vw(160px) 0 get-vw(120px);

  h1 {
    margin-bottom: get-vw(48px);
    padding-bottom: get-vw(48px);
    border-bottom: get-vw(1px) solid $gray-medium;
  }

  &__wrapper {
    @include flex(flex-start, space-between);
  }
}

.terms {
  .btn {
    margin: get-vw(16px) 0;
  }

  .btn__white {
    border: get-vw(1px) solid $gray-medium;
    color: $black;
  }

  &__main {
    max-width: get-vw(792px);

    h5 {
      margin-bottom: get-vw(16px);

      &:not(:first-child) {
        margin-top: get-vw(48px);
      }
    }

    h6 {
      @include fontSize(20px);

      margin-top: get-vw(48px);
      margin-bottom: get-vw(16px);
      font-weight: 600;
      line-height: 1.4;
      letter-spacing: -0.02em;
      color: $black;
    }

    p {
      margin-bottom: get-vw(24px);
    }

    ul {
      li {
        position: relative;
        padding-left: get-vw(18px);

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: get-vw(13px);
          width: get-vw(6px);
          height: get-vw(6px);
          border-radius: 50%;
          background-color: $green;
        }

        &:not(:last-child) {
          margin-bottom: get-vw(16px);
        }
      }
    }

    ol {
      li {
        margin-left: get-vw(22px);

        &:not(:last-child) {
          margin-bottom: get-vw(16px);
        }

        &::marker {
          @include fontSize(16px);

          font-weight: 600;
          line-height: get-vw(24px);
          color: $black;
        }
      }
    }
  }

  &__nav {
    p {
      @include fontSize(14px);

      line-height: 1.43;
    }

    span {
      display: inline-block;
      margin: get-vw(4px) 0 get-vw(40px);
      font-weight: 700;
      letter-spacing: 0.01em;
      color: $black;
    }

    .btn__white {
      &:hover {
        border: get-vw(1px) solid $green;
      }
    }
  }
}

.thank {
  padding: get-vw(160px) 0 get-vw(58px);

  .general-page__img {
    img {
      width: get-vw(486px);
      height: get-vw(486px);
    }
  }
}

.thank,
.error {
  h5 {
    margin-bottom: get-vw(32px);
    max-width: get-vw(384px);
  }
}

.error {
  padding: get-vw(160px) 0 get-vw(75px);

  .general-page__text {
    margin-right: get-vw(24px);
  }

  &__message {
    position: relative;
    padding: 0;

    &::after,
    &::before {
      @include bg-contain;

      content: "";
      position: absolute;
      width: get-vw(283px);
      height: get-vw(282px);
    }

    &::before {
      left: 0;
      top: 0;
      background-image: url("/src/images/error-decor.svg");
    }

    &::after {
      right: 0;
      bottom: 0;
      background-image: url("/src/images/error-decor2.svg");
    }

    p {
      @include fontSize(450px);

      position: relative;
      padding: get-vw(96px) get-vw(60px) 0 get-vw(42px);
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.06em;
      color: $green;
    }
  }
}