.general-page {
  padding: get-vw(160px) 0 get-vw(120px);

  .h1 {
    padding-bottom: get-vw(48px);
    border-bottom: get-vw(1px) solid $gray-medium;
  }

  &__wrapper {
    @include flex(flex-start, space-between);
  }
}

.terms {
  .btn__white {
    border: get-vw(1px) solid $gray-medium;

    &:hover {
      border: get-vw(1px) solid $green;

      span {
        color: $white;
      }
    }

    span {
      color: $black;
    }
  }

  &__main {
    max-width: 55%;

    p {
      margin-bottom: get-vw(24px);
    }

    ul {
      li {
        position: relative;
        padding-left: get-vw(18px);

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: get-vw(13px);
          width: get-vw(6px);
          height: get-vw(6px);
          border-radius: 50%;
          background-color: $green;
        }

        &:not(:last-child) {
          margin-bottom: get-vw(16px);
        }
      }
    }

    ol {
      li {
        margin-left: get-vw(22px);

        &:not(:last-child) {
          margin-bottom: get-vw(16px);
        }

        &::marker {
          @include fontSize(16px);

          font-weight: 600;
          line-height: get-vw(24px);
          color: $black;
        }
      }
    }
  }
}

.thank {
  padding-bottom: get-vw(58px);

  .h5,
  h5 {
    max-width: 40%;
  }

  .general-page__img {
    img {
      width: get-vw(486px);
      height: get-vw(486px);
    }
  }
}

.error {
  padding-bottom: get-vw(75px);

  .general-page__text {
    margin-right: get-vw(24px);
    max-width: 28%;
  }

  &__message {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
    text-align: center;

    &::after,
    &::before {
      @include bg-contain;

      content: "";
      position: absolute;
      width: get-vw(283px);
      height: get-vw(282px);
    }

    &::before {
      left: 0;
      top: 0;
      background-image: url("/src/images/error-decor.svg");
    }

    &::after {
      right: 0;
      bottom: 0;
      background-image: url("/src/images/error-decor2.svg");
    }

    p {
      @include fontSize(450px);

      padding: get-vw(96px) 0 0 0;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.06em;
      color: $green;
    }
  }
}