.hero {
  position: relative;

  &::before {
    @include bg-contain;

    content: "";
    position: absolute;
    left: 15%;
    z-index: -2;
    width: get-vw(350px);
    height: get-vw(350px);
    background-image: url("/src/images/pattern1.svg");
    transform: translateY(-50%);
  }

  &::after {
    @include bg-contain;

    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
    width: get-vw(463px);
    height: get-vw(464px);
    background-image: url("/src/images/pattern.svg");
  }

  .scroll {
    right: get-vw(40px);
    bottom: get-vw(80px);
  }

  h1 {
    margin-bottom: get-vw(16px);
    width: 100%;
    max-width: 100%;
  }

  &__subtitle {
    @include fontSize(24px);

    margin-bottom: get-vw(32px);
    height: 100%;
    max-width: 62%;
    line-height: 1.33;
    letter-spacing: -0.01em;
  }

  &__video {
    position: relative;
    margin-left: get-vw(24px);
    width: 100%;
    max-width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }

    .btn__play {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 5;
      transform: translate(-50%, -50%);

      &::after {
        filter: invert(1);
      }
    }
  }

  &__wrapper {
    @include flex(center, space-between);

    position: relative;
    flex-wrap: nowrap;
    min-height: 100vh;
    max-height: 100vh;
  }
}

.why {
  position: relative;
  padding: get-vw(140px) 0;
  background-color: $gray-light;

  h2 {
    margin-bottom: get-vw(32px);
  }

  h4 {
    margin-bottom: get-vw(64px);
    max-width: 55%;
    color: $gray-black;
  }

  ul {
    display: flex;
    margin-top: get-vw(64px);
  }

  .scroll__item {
    display: flex !important;
    flex-direction: column;
    height: fit-content;
    min-height: get-vw(480px);

    p {
      margin-bottom: get-vw(24px);

      &:last-child {
        margin-bottom: auto;
      }
    }

    img {
      display: block;
      margin-top: auto;
      width: 100%;
      max-height: get-vw(194px);
      object-fit: cover;
    }
  }

  .scroll {
    left: get-vw(42px);
    bottom: get-vw(56px);
  }

  &__heading {
    @include flex(center, flex-start);

    margin-bottom: get-vw(40px);

    span {
      @include fontSize(105px);

      position: relative;
      display: inline-block;
      margin-right: get-vw(48px);
      line-height: 1;
      letter-spacing: -0.02em;
      color: $black;

      &::after {
        content: "";
        position: absolute;
        right: get-vw(-25px);
        top: 50%;
        width: get-vw(1px);
        height: get-vw(95px);
        background-color: $gray-medium;
        transform: translateY(-50%);
      }
    }
  }
}

.scrollable_section {
  height: 100vh;
  overflow: hidden;

  .horizontal_scroll {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: get-vw(-86px);
  }

  .scroll__item {
    display: none;

    @media (min-width: 1200px) {
      display: block;
      flex: 0 0 62vw;
      margin: 0 get-vw(126px);
      width: 62vw;
    }
  }
}

.shake {
  @include bg-contain;

  position: relative;
  overflow: hidden;
  color: $white;
  background-image: url("/src/images/decor-shake.svg");
  background-position: bottom right;
  background-color: $green-black;

  h5 {
    color: $white;
  }

  .btn {
    margin-top: get-vw(32px);
    background-image: none;

    &:hover {
      p {
        color: $black;
      }

      img {
        filter: invert(0);
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__social {
    margin-left: get-vw(32px);

    a {
      @include flex(center, center);

      width: get-vw(48px);
      height: get-vw(48px);
      border: get-vw(1px) solid $white;
      background-color: transparent;

      img {
        width: get-vw(16px);
        height: get-vw(16px);
      }
    }
  }

  &__inner {
    @include flex(center, space-between);

    flex-wrap: nowrap;
    min-height: get-vw(772px);
  }

  &__img {
    z-index: 10;
    align-self: flex-end;
    width: 100%;
    min-height: get-vw(772px);
    max-width: 51%;
    background-image: url("/src/images/shake.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.1);

    //img {
    //  transform: scale(1.3);
    //}
  }

  &__info {
    width: 100%;
    max-width: 47%;

    h5 {
      margin-bottom: get-vw(4px);
    }
  }
}

.people {
  padding: get-vw(140px) 0;

  h2 {
    margin-bottom: get-vw(32px);
  }

  h4 {
    margin-bottom: auto;
    max-width: get-vw(486px);
  }

  h5 {
    color: $gray-dark;

    &:not(:last-child) {
      margin-bottom: get-vw(32px);
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-right: get-vw(30px);
    max-width: 38%;
  }

  &__text {
    margin-top: auto;
  }

  &__img {
    height: get-vw(588px);
    max-width: 45%;

    img {
      height: get-vw(588px);
      object-fit: cover;
    }
  }
}

.land {
  min-height: get-vw(688px);
  background-color: $black;

  .container {
    display: flex;
    min-height: get-vw(688px);
  }
}

.commitment {
  position: relative;
  padding: get-vw(140px) 0;
  background-color: $gray-light;

  h2 {
    margin-bottom: 0;
  }

  h4 {
    max-width: 88%;
    color: $gray-black;
  }

  &__wrapper {
    display: grid;
    align-items: center;
    grid-gap: 0 get-vw(24px);
    grid-template-columns: 32% 1fr;
  }
}

.vision {
  padding: get-vw(140px) 0;
  background-color: $gray-light;

  h2 {
    margin-bottom: get-vw(32px);
  }

  ul {
    li {
      display: flex;
      justify-content: space-between;
      width: get-vw(792px);
      max-height: get-vw(568px);
      background-color: $white;

      &:not(:last-child) {
        margin-bottom: get-vw(48px);
      }
    }
  }

  &__wrapper {
    @include flex(flex-start, space-between);
  }

  &__info {
    position: sticky;
    top: get-vw(200px);
    max-width: get-vw(305px);

    h4 {
      color: $gray-black;

      b {
        display: inline-block;
        font-weight: 700;
        letter-spacing: -0.02em;
        color: $black;
      }
    }
  }

  &__box-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: get-vw(40px);

    h4 {
      max-width: get-vw(328px);
    }
  }

  &__box-img {
    width: 100%;
    max-width: get-vw(384px);

    img {
      width: 100%;
      max-width: get-vw(384px);
      max-height: get-vw(568px);
      object-fit: cover;
    }
  }
}

.giga {
  padding: get-vw(140px) 0 0 0;

  h2 {
    margin-bottom: 0;
    max-width: get-vw(397px);
  }

  h3 {
    margin-right: get-vw(12px);
    color: $gray-black;
  }

  ul {
    li {
      position: relative;
      min-height: get-vw(900px);

      h2 {
        margin-bottom: get-vw(8px);
      }
    }
  }

  &_section {
    .left_side {
      position: absolute;
      width: 50vw;
      height: 100vh;

      .giga__info {
        position: absolute;
        left: get-vw(120px);
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: get-vw(72px);
        padding-right: get-vw(100px);
        padding-bottom: get-vw(72px);
        width: 100%;
        height: 100%;

        //min-width: calc(100% - #{get-vw(120px)});
        min-width: 100%;

        .title {
          opacity: 0;
          transform: translateY(-25px);
        }

        .subtitle {
          opacity: 0;
          transform: translateY(-25px);
        }

        .giga__text {
          opacity: 0;
          transform: translateY(-25px);
        }
      }
    }

    .right_side {
      margin-left: 50vw;
      width: 50vw;

      .giga__img {
        position: static;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        max-width: 100%;

        img {
          max-width: unset;
        }
      }
    }
  }

  &__title {
    @include flex(center, space-between);

    flex-wrap: nowrap;
    margin-bottom: get-vw(64px);
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: get-vw(72px) 0;
    width: 100%;
    height: 100%;
    min-height: get-vw(900px);
    max-width: 40%;
  }

  &__img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 50%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    margin-top: auto;

    p {
      @include fontSize(20px);

      line-height: 1.4;
      color: $black;

      &:not(:last-child) {
        margin-bottom: get-vw(28px);
      }
    }
  }
}

.hacks {
  position: relative;
  height: get-vw(900px);
  max-height: get-vw(900px);

  h2 {
    position: absolute;
    top: get-vw(140px);
    margin-bottom: 0;
    max-width: get-vw(481px);
    color: $white;
  }

  .container {
    height: get-vw(900px);
  }

  .btn {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 5;
    background-color: $white;
  }

  .btn__play {
    border: get-vw(1px) solid rgba(0, 0, 0, 0.12) !important;
  }

  h4 {
    position: absolute;
    bottom: get-vw(87px);
    color: $white;

    &::after {
      @include bg-contain;

      content: "";
      position: absolute;
      right: -56%;
      bottom: get-vw(8px);
      width: get-vw(161px);
      height: get-vw(32px);
      background-image: url("/src/images/hacks-arrow.svg");
    }
  }

  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.line {
  position: relative;
  z-index: 6;
  height: get-vw(808px);
  max-height: get-vw(808px);

  .container {
    width: 100%;
    height: get-vw(792px);
  }

  &__dark {
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48));
    inset: 0;
  }

  &__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    width: 100%;
    height: get-vw(808px);
    max-height: get-vw(808px);
    object-fit: cover;
  }
}

.misa {
  padding: get-vw(140px) 0;

  h2 {
    margin-bottom: get-vw(32px);
    max-width: 80%;
  }

  h4 {
    padding-right: 10%;
  }

  .swiper {
    padding-top: get-vw(128px);
  }

  .swiper-button-next,
  .swiper-button-prev {
    right: 0;
    top: 0;
  }

  .swiper-button-prev {
    right: get-vw(72px);
  }

  .swiper-pagination {
    @include fontSize(16px);

    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-end;
    height: get-vw(48px);
    font-weight: 400;
    line-height: 1.5;
    color: $black;
  }

  .swiper-pagination-current {
    @include fontSize(40px);

    display: block;
    margin-right: get-vw(12px);
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.03em;
    color: $black;
  }

  .swiper-pagination-total {
    @include fontSize(16px);

    margin-left: get-vw(12px);
    font-weight: 400;
    line-height: 1.5;
    color: $gray-dark;
  }

  &__title {
    @include flex(flex-end, space-between);

    display: flex;
    align-items: flex-end;
  }

  &__images {
    @include flex(center, space-between);

    width: 100%;
    max-width: 38%;

    img:first-of-type {
      max-width: get-vw(154px);
      object-fit: contain;
    }

    img:last-of-type {
      max-width: get-vw(233px);
    }
  }

  &__wrapper {
    @include flex(flex-start, space-between);

    margin-top: get-vw(72px);
  }

  &__swiper {
    max-width: 38%;

    h3 {
      margin-bottom: get-vw(24px);
      padding-bottom: get-vw(24px);
      border-bottom: get-vw(1px) solid $gray-medium;
    }

    h6 {
      @include fontSize(20px);

      font-weight: 400;
      line-height: 1.4;
      color: $gray-dark;
    }
  }
}

.triangles {
  position: relative;

  &::before,
  &::after {
    @include bg-contain;

    content: "";
    position: absolute;
    z-index: 2;
  }

  &::before {
    left: 0;
    top: 0;
    width: get-vw(395px);
    height: get-vw(394px);
    background-image: url("/src/images/line-pattern1.svg");
  }

  &::after {
    right: 0;
    bottom: 0;
    width: get-vw(385px);
    height: get-vw(386px);
    background-image: url("/src/images/line-pattern2.svg");
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    max-width: get-vw(497px);

    h2,
    h5 {
      margin-bottom: get-vw(32px);
      text-align: center;
      color: $white;
    }

    h5 {
      max-width: get-vw(365px);
    }

    h2 {
      margin-bottom: get-vw(24px);
      max-width: 80%;
    }
  }
}
