.pillars {
  .h2,
  h2 {
    max-width: get-vw(588px);

    @include media(1200px) {
      max-width: 100%;
    }
  }

  ul {
    margin-right: get-vw(30px);
    width: 100%;
    max-width: 30%;
    border-bottom: get-vw(1px) solid $gray-medium;

    .number {
      position: relative;
      margin-right: get-vw(24px);

      &::after {
        content: "";
        position: absolute;
        right: get-vw(-12px);
        top: 50%;
        width: get-vw(1px);
        height: 100%;
        background-color: $gray-medium;
        transform: translateY(-50%);
      }
    }

    p,
    span {
      display: block;
      font-weight: 700;
      letter-spacing: 0.01em;
      color: $black;
      transition: all 0.3s;
    }

    li {
      display: block;

      .tab_toggle {
        @include flex(center, flex-start);

        padding: get-vw(16px) 0;
        width: 100%;
        border-top: get-vw(1px) solid $gray-medium;
        transition: all 0.3s;

        @include media(1200px) {
          padding: 16px 0;
        }

        &:hover {
          span {
            color: $green;
          }
        }

        &.pillars--active {
          padding-left: get-vw(24px);

          span {
            color: $green;
          }
        }
      }
    }
  }

  .tab_item {
    height: 0;
    overflow: hidden;

    &.pillars--active {
      height: auto;
    }
  }

  &__wrapper {
    @include flex(flex-start, space-between);

    .tab_content {
      min-height: get-vw(400px);
      max-width: 60%;
    }
  }

  &__content {
    width: 100%;

    p {
      color: $gray-black;

      &:not(:last-child) {
        margin-bottom: get-vw(24px);
      }
    }
  }

  &__img {
    margin-bottom: get-vw(31px);
    max-height: get-vw(240px);

    img {
      width: 100%;
      height: 100%;
      max-height: get-vw(240px);
      object-fit: cover;
    }
  }
}

.partner {
  background-color: $gray-light;

  .h4,
  h4 {
    max-width: get-vw(690px);
  }

  .swiper__mix {
    display: flex;
    margin-bottom: 16px;

    .btn__white {
      border: get-vw(1px) solid $gray-medium;
      color: $gray-black;

      &:hover {
        border: get-vw(1px) solid $green;
        color: $white;
      }
    }
  }

  .tab_wrapper {
    position: relative;

    .partners_tab {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      opacity: 0;
      width: 100%;
      height: 100%;

      &:first-child {
        position: relative;
      }

      .swiper_nav {
        position: relative;
        top: -40px;
      }

      .swiper {
        position: relative;
        height: 100%;

        .swiper-wrapper {
          padding-top: 0;
          height: 600px;
        }

        .swiper-slide .logo_item {
          @include flex(center, center);

          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          margin-top: get-vw(24px);
          padding: get-vw(24px) get-vw(16px);
          width: 100%;
          height: calc((100% - 48px) / 2) !important;
          border: get-vw(1px) solid rgba($gray-medium, 0.48);
          background: $white;

          img {
            margin-bottom: get-vw(16px);
            width: get-vw(104px);
            max-width: 104px;
          }

          p:first-of-type {
            @include font_14__700;

            margin-bottom: get-vw(6px);
            text-align: center;
            color: $black;
          }

          p:last-of-type {
            @include fontSize(12px);

            max-width: get-vw(180px);
            line-height: 1.33;
            text-align: center;
            color: $gray-black;

            @media (max-width: 1500px) {
              font-size: 12px;
            }
          }
        }
      }

      &.active {
        z-index: 2;
        opacity: 1;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    right: 0;
    top: 0;
  }

  .swiper-button-prev {
    left: auto;
    right: get-vw(72px);
  }

  &__info {
    @include flex(flex-start, space-between);

    margin-top: get-vw(72px);

    @include media($md) {
      flex-direction: column;
    }

    .h3,
    h3 {
      max-width: 45%;

      @include media($md) {
        margin-bottom: 16px;
        max-width: 100%;
      }
    }
  }

  &__info-block {
    max-width: 45%;

    @include media($md) {
      max-width: 100%;
    }
  }
}

.other {
  overflow: hidden;

  ul {
    li {
      display: flex;
      align-items: center;
      min-height: get-vw(56px);

      @include media(1200px) {
        min-height: 60px;
      }

      &:first-child {
        @include flex(center, center);

        min-height: get-vw(72px);
        background-color: $white;
      }

      &:nth-child(even) {
        background-color: $gray-light;
      }
    }

    p {
      padding: 0 get-vw(16px);
      height: 100%;
      font-weight: 700;
      letter-spacing: 0.01em;
      color: $black;
    }
  }

  h4,
  .h4 {
    margin-bottom: get-vw(16px);

    @include media(1200px) {
      margin-bottom: 16px;
    }
  }

  .h5,
  h5 {
    margin-bottom: get-vw(64px);
    max-width: 60%;

    @include media(1200px) {
      margin-bottom: 64px;
    }

    @include media($md) {
      max-width: 100%;
    }
  }

  &__done,
  &__none {
    position: relative;
    display: block;
    width: 100%;
    min-height: get-vw(56px);

    @include media(1200px) {
      min-height: 60px;
    }

    &::after {
      @include bg-contain;

      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: get-vw(32px);
      height: get-vw(32px);
      background-image: url("/src/images/other-done.svg");
      transform: translate(-50%, -50%);

      @include media(1200px) {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__column {
    li {
      border-left: get-vw(1px) solid $gray-medium;
    }

    li:first-child {
      border-left: none !important;

      .h6,
      h6 {
        @include font_20;

        padding: 0;
      }

      img {
        max-width: get-vw(120px);

        @include media(1200px) {
          max-width: 120px;
        }
      }
    }
  }

  &__point {
    li:first-child {
      border-left: get-vw(1px) solid $gray-medium !important;
    }
  }

  &__setup {
    z-index: 5;
    border-top: get-vw(1px) solid $gray-medium;
    border-bottom: get-vw(1px) solid $gray-medium;
    box-shadow: 0 get-vw(8px) get-vw(24px) rgba(0, 0, 0, 0.12);

    li:first-child {
      border-left: get-vw(1px) solid $gray-medium !important;
    }
  }

  &__system {
    display: grid;
    align-items: center;
    grid-template-columns: 32% 17% 17% 17% 17%;

    @include media(1200px) {
      width: 100%;
      min-width: 800px;
      overflow: auto;
    }
  }

  &__none {
    &::after {
      background-image: url("/src/images/other-none.svg");
    }
  }
}

.ideal {
  background-color: $gray-light;

  h4,
  .h4 {
    max-width: 80%;

    @include media($md) {
      max-width: 100%;
    }
  }

  &__wrapper {
    @include flex(flex-start, space-between);

    @include media($md) {
      flex-direction: column;
    }
  }

  &__img {
    @include media($lg) {
      margin-right: 50px;
    }

    @include media($md) {
      margin: 0 auto 40px;
    }

    img {
      min-width: get-vw(588px);
      min-height: get-vw(588px);
      max-width: get-vw(588px);
      max-height: get-vw(588px);
      object-fit: cover;

      @include media($lg) {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &__text {
    max-width: 40%;

    @include media($md) {
      max-width: 100%;
    }

    p {
      margin-bottom: get-vw(12px);
      font-weight: 700;
      letter-spacing: 0.01em;
      color: $black;
    }

    ul {
      margin-bottom: get-vw(40px);

      li {
        @include font_14;

        position: relative;
        padding-left: get-vw(21px);
        color: $green;

        &::before {
          content: "";
          position: absolute;
          left: get-vw(8px);
          top: 50%;
          width: get-vw(4px);
          height: get-vw(4px);
          border-radius: 50%;
          background-color: $green;
          transform: translateY(-50%);
        }
      }
    }

    span {
      @include font_14;

      display: inline-block;

      &:not(:last-child) {
        margin-bottom: get-vw(40px);
      }
    }
  }
}

.review {
  position: relative;
  z-index: 5;
  background-color: $green-black;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-image: url("/src/images/review-pattern.svg");
    background-position: bottom right;
    background-size: cover;
  }

  .btn {
    background-image: none;

    &:hover {
      p {
        color: $black !important;
      }

      img {
        filter: invert(0);
      }
    }
  }

  .btn__social {
    transition: background-color 0.3s;

    &:hover {
      background-color: $white;

      img {
        filter: invert(1);
      }
    }

    img {
      transition: filter 0.3s;
    }
  }

  blockquote {
    @include fontSize(40px);

    margin-bottom: 0;
    padding-top: 0;
    padding-left: get-vw(72px);
    max-width: get-vw(620px);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: $white;

    @include media(1200px) {
      font-size: 32px;
    }

    @include media($md) {
      margin-bottom: 32px;
      max-width: 100%;
    }

    &::after {
      left: 0;
      top: 0;
    }
  }

  &__wrapper {
    @include flex(center, space-between);

    @include media($md) {
      flex-direction: column;
    }
  }

  &__ava {
    margin-right: get-vw(24px);
    width: get-vw(88px);
    height: get-vw(88px);
    border-radius: 50%;

    @include media(1200px) {
      margin-right: 16px;
      width: 88px;
      height: 88px;
    }
  }

  &__info {
    margin: 0 auto;

    @include media($md) {
      width: 100%;
      max-width: 100%;
    }
  }

  &__info-box {
    display: flex;
    align-items: center;
    margin-bottom: get-vw(40px);

    @include media($md) {
      margin-bottom: 32px;
      max-width: 100%;
    }

    p {
      color: $white;
    }
  }

  &__info-title {
    margin-right: get-vw(32px);
    max-width: get-vw(228px);

    @include media(1200px) {
      max-width: 100%;
    }
  }
}

.dashboard {
  background-color: $gray-light;

  .h2,
  h2 {
    max-width: 60%;

    @include media($md) {
      max-width: 100%;
    }
  }

  .h4,
  h4 {
    max-width: 60%;

    @include media($md) {
      max-width: 100%;
    }
  }

  .swiper-slide {
    img {
      margin: 0 auto;
      width: 100%;
      max-width: get-vw(996px);
      object-fit: cover;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 50%;
    transform: translateY(-50%);
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: get-vw(40px);

    span {
      &:not(:last-child) {
        margin-right: get-vw(14px);
      }
    }
  }

  .swiper-pagination-bullet {
    position: relative;
    display: block;
    width: get-vw(16px);
    height: get-vw(16px);
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.3s;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: get-vw(8px);
      height: get-vw(8px);
      border-radius: 50%;
      background-color: $gray-medium;
      transform: translate(-50%, -50%);
      transition: all 0.3s;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $black;

    &::after {
      background-color: $white;
    }
  }
}

.app {
  color: $white;
  background-color: $black;

  .h4,
  h4 {
    max-width: get-vw(329px);

    @include media($md) {
      max-width: 100%;
    }
  }

  p {
    max-width: get-vw(486px);

    @include media($md) {
      max-width: 100%;
    }
  }

  &__wrapper {
    @include flex(flex-start, space-between);

    @include media($md) {
      flex-direction: column;
    }
  }

  &__main {
    width: 100%;
    max-width: 50%;

    @include media($md) {
      max-width: 100%;
    }
  }

  &__qr {
    display: flex;
    margin-top: get-vw(56px);

    @include media($md) {
      justify-content: center;
    }

    li {
      display: flex;
      align-items: center;

      @include media($md) {
        flex-direction: column;
      }

      &:not(:last-child) {
        margin-right: get-vw(32px);
      }

      a {
        margin-left: get-vw(16px);

        img {
          width: get-vw(144px);
          height: get-vw(48px);
          min-width: get-vw(144px);

          @include media(1200px) {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  &__qr-code {
    width: get-vw(96px);
    height: get-vw(96px);

    @include media(1200px) {
      margin-bottom: 16px;
      width: 96px;
      height: 96px;
    }
  }

  &__img {
    width: 100%;
    max-width: 50%;

    @include media($md) {
      margin-top: 48px;
      max-width: 100%;
    }

    img {
      width: 100%;
    }
  }
}

.knowledge {
  background-color: $gray-light;

  .h4,
  h4 {
    max-width: get-vw(588px);
  }

  ul {
    display: grid;
    grid-gap: get-vw(40px) get-vw(24px);
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 get-vw(1px);

    li {
      span {
        @include font_14;

        display: block;
      }

      .h6,
      h6 {
        @include font_20;

        margin-bottom: get-vw(4px);
        color: $black;
      }
    }
  }

  .swiper {
    position: relative;
    margin-top: get-vw(-67px);
    padding-top: get-vw(123px);

    @include media(1200px) {
      margin-top: -67px;
      padding-top: 123px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    right: 0;
    top: 0;
    margin-top: 0;
  }

  .swiper-button-prev {
    left: auto;
    right: get-vw(72px);
    margin-top: 0;
  }

  &__img {
    position: relative;
    margin-bottom: get-vw(16px);
    min-height: get-vw(215px);
    max-height: get-vw(215px);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 3;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }

    img {
      width: 100%;
      min-height: get-vw(215px);
      max-height: get-vw(215px);
      object-fit: cover;
    }
  }

  &__play {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 4;
    width: get-vw(72px);
    height: get-vw(72px);
    border: get-vw(1px) solid rgba(0, 0, 0, 0.12);
    background-color: $white;
    transform: translate(-50%, -50%);
    transition: all 0.3s;

    &::before {
      @include bg-contain;

      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 5;
      width: get-vw(24px);
      height: get-vw(24px);
      background-image: url("/src/images/play.svg");
      transform: translate(-50%, -50%);
      transition: all 0.3s;
    }

    &:hover {
      border: get-vw(1px) solid transparent;
      background-color: $green;

      &::before {
        filter: invert(1);
      }
    }
  }
}

.other-products {
  padding: get-vw(140px) 0 0 0;

  .h2,
  h2 {
    z-index: 10;
    margin-bottom: auto;
  }

  .swiper {
    position: relative;
    margin-top: get-vw(-67px);
    padding-top: get-vw(123px);

    @include media(1200px) {
      margin-top: -67px;
      padding-top: 123px;
    }
  }

  .swiper-slide {
    width: 100%;
    max-width: 100%;
  }

  .container {
    box-sizing: border-box;
    display: block;
  }

  .swiper-button-next,
  .swiper-button-prev {
    right: get-vw(40px);
    top: 0;
    margin-top: 0;
  }

  .swiper-button-prev {
    left: auto;
    right: get-vw(128px);
    margin-top: 0;
  }

  //&__btns {
  //  display: flex !important;
  //
  //  .swiper-button-prev {
  //    margin-left: auto;
  //    right: get-vw(72px);
  //    left: auto;
  //    margin-top: 0;
  //  }
  //
  //  &.container {
  //    margin-bottom: get-vw(64px);
  //  }
  //}
}

.swiper-button-next,
.swiper-button-prev {
  @include flex(center, center);

  position: absolute;
  z-index: 10;
  width: get-vw(56px);
  height: get-vw(56px);
  background-color: $black;
  transition: background-color 0.3s;
  cursor: pointer;

  @include media(1200px) {
    width: 56px;
    height: 56px;
  }

  &::after {
    display: none;
  }

  &:hover {
    background-color: $green;
  }

  img {
    width: get-vw(24px);
    height: get-vw(24px);

    @include media(1200px) {
      width: 24px;
      height: 24px;
    }
  }
}

.swiper-button-disabled {
  background-color: $gray-medium;
  cursor: not-allowed;

  &:hover {
    background-color: $gray-medium;
  }
}
