<div class="cookies">
  <div class="cookies__inner">
    <p class="cookies__text">
      Our website use cookies. By continuing navigating, we assume your permission to deploy cookies as detailed in
      our
      <a href="terms.html">Privacy Policy.</a>
    </p>
<!--    <button class="btn btn__white"></button>-->
    <a class="btn btn__white" href="#">
      <div class="btn__text-wrap">
        <div class="btn__text-box">
          <p>Accept cookies</p>
        </div>
        <div class="btn__text-box">
          <p>Accept cookies</p>
        </div>
      </div>
    </a>
    <button class="cookies__close">
      <img src="images/close.svg" alt="Close">
    </button>
  </div>
</div>