<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <div class="footer__start">
        <a class="logo" href="#">
          <img src="./images/logo.svg" alt="Logo">
        </a>
        <p>Your Saudi Expansion Partner</p>
        <p class="footer__pre">
          Social media
        </p>
        <ul>
          <li>
            <a href="#">
              <img src="./images/linkedin.svg" alt="Linkedin">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./images/youtube.svg" alt="Youtube">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./images/twitter.svg" alt="Twitter">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__nav">
        <p class="footer__pre">Site Navigation</p>
        <ul>
          <li>
            <a href="#">Products</a>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">contact</a>
          </li>
        </ul>
      </div>
      <div class="footer__touch">
        <p class="footer__pre">Get in touch</p>
        <ul>
          <li>
            <a href="tel:9960510590175">+996 (0) 51 059 0175</a>
          </li>
          <li>
            <a href="mailto:info@setup.sa">info@setup.sa</a>
          </li>
          <li>
            <a href="https://www.google.com/maps/place/Musa+Ibn+Nusair+St,+As+Sulimaniyah,+Riyadh+12241,+Saudi+Arabia/@24.7053103,46.6823368,15.91z/data=!4m7!3m6!1s0x3e2f032c86148ceb:0xde23f1d3eff0a639!8m2!3d24.7053406!4d46.6852144!15sClNGaW5kIHVzIGF0IHRoZSBPZmZpY2UgU2lsaWNvbiBCdWlsZGluZyA0LCAxc3QgRmxvb3IsIE11c2EgSWJuIE51c2FpciwgUml5YWRoLCAxMjI0MZIBBXJvdXRl4AEA!16s%2Fg%2F1hc10kgsh?coh=164777&entry=tt">Find us at the Office Silicon Building 4, 1st Floor, Musa Ibn Nusair, Riyadh, 12241</a>
          </li>
        </ul>
      </div>
      <button class="footer__up">
        <span>up</span>
      </button>
    </div>
    <div class="footer__copy">
      <p>© Copyright 2023 Setup.sa. All Rights Reserved.</p>
      <ul>
        <li>
          <a href="terms.html">Terms & conditions</a>
        </li>
        <li>
          <a href="#">Privacy Policy</a>
        </li>
      </ul>
      <span>
        designed by <a href="#">celerart</a>.
      </span>
    </div>
  </div>
</footer>
