<header class="header">
  <div class="container-header">
    <nav class="menu">
      <a class="logo" href="index.html">
        <img src="./images/logo.svg" alt="Logo">
      </a>
      <ul>
        <li class="menu__drop">
          <a href="products.html">Products</a>
        </li>
        <li>
          <a href="about.html">About Us</a>
        </li>
        <li>
          <a href="setup.html">Setup360</a>
        </li>
        <li class="menu__drop">
          <a href="#">en</a>
        </li>
      </ul>
      <div class="menu__buttons">
        <button class="btn btn__blank">login</button>
        <button class="btn btn__narrow">get started</button>
      </div>
    </nav>
  </div>
</header>
