<header class="header fade-up" data-delay="150">
  <div class="container-header">
    <nav class="menu">
      <a class="logo" href="index.html">
        <img src="./images/logo.svg" alt="Logo">
      </a>
      <div class="menu__nav">
        <div class="menu__drop">
          <a href="products.html">Products</a>
        </div>
        <ul>
          <li>
            <a href="about.html">About Us</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
          <li>
            <a href="setup.html">Setup360</a>
          </li>
        </ul>
        <div class="menu__drop">
          <a href="#">en</a>
          <!--          <div class="lang-changer">-->
          <!--            <a href="#">en</a>-->
          <!--            <a href="#">Ar</a>-->
          <!--          </div>-->
        </div>
      </div>
      <!--      <div class="products-drop">-->
      <!--        <ul>-->
      <!--          <li>-->
      <!--            <a href="#">All products</a>-->
      <!--            <a href="#">View all</a>-->
      <!--          </li>-->
      <!--          <li>-->
      <!--            <img src="./images/prod1.svg" alt="Prod">-->
      <!--            <h6>Setup 360</h6>-->
      <!--            <p>Comprehensive full and highest value to money</p>-->
      <!--            <a href="#">learn more</a>-->
      <!--          </li>-->
      <!--          <li>-->
      <!--            <img src="./images/prod2.svg" alt="Prod">-->
      <!--            <h6>Setup Explore</h6>-->
      <!--            <p>Comprehensive full and highest value to money</p>-->
      <!--            <a class="products-drop__inactive" href="#">coming soon...</a>-->
      <!--          </li>-->
      <!--          <li>-->
      <!--            <img src="./images/prod3.svg" alt="Prod">-->
      <!--            <h6>Setup Connect</h6>-->
      <!--            <p>Comprehensive full and highest value to money</p>-->
      <!--            <a class="products-drop__inactive" href="#">coming soon...</a>-->
      <!--          </li>-->
      <!--        </ul>-->
      <!--      </div>-->
      <div class="menu__buttons">
        <a class="btn btn__blank" href="#">
          <span class="btn__text-wrap">
            <span class="btn__text-box">
              <span>login</span>
            </span>
            <span class="btn__text-box">
              <span>login</span>
            </span>
          </span>
        </a>
        <a class="btn btn__narrow" href="#">
          <span class="btn__text-wrap">
            <span class="btn__text-box">
              <span>get started</span>
            </span>
            <span class="btn__text-box">
              <span>get started</span>
            </span>
          </span>
        </a>
      </div>
    </nav>
  </div>
</header>
