.header {
  position: fixed;
  left: 0;
  right: 0;
  top: get-vw(20px);
  z-index: 40;
  background-color: transparent;
}

.menu {
  @include flex(center, space-between);

  ul {
    display: flex;
    margin-right: get-vw(40px);
    margin-left: auto;

    a {
      @include fontSize(14px);

      position: relative;
      font-weight: 700;
      line-height: 1.71;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: $black;
    }

    li {
      + li {
        margin-left: get-vw(40px);
      }
    }
  }

  &__drop {
    a {
      padding-right: get-vw(24px);

      &::after {
        @include bg-contain;

        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: get-vw(24px);
        height: get-vw(24px);
        background-image: url("../images/header-arrow.svg");
      }
    }
  }

  &__buttons {
    display: flex;

    button:first-child {
      margin-right: get-vw(16px);
    }
  }
}