.hero {
  &::before {
    @include bg-contain;

    content: "";
    position: absolute;
    left: get-vw(301px);
    z-index: -2;
    width: get-vw(285px);
    height: get-vw(285px);
    background-image: url("../images/pattern1.svg");
    transform: translateY(-50%);
  }

  &::after {
    @include bg-contain;

    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
    width: get-vw(463px);
    height: get-vw(464px);
    background-image: url("../images/pattern.svg");
  }

  .scroll {
    right: get-vw(40px);
    bottom: get-vw(80px);
  }

  h1 {
    margin-bottom: get-vw(16px);
    max-width: get-vw(486px);
  }

  p {
    @include fontSize(24px);

    margin-bottom: get-vw(32px);
    height: 100%;
    max-width: get-vw(384px);
    line-height: 1.33;
    letter-spacing: -0.01em;
  }

  &__video {
    position: relative;
    margin-left: get-vw(24px);
    width: 100%;
    max-width: get-vw(690px);
    max-height: get-vw(388px);

    img {
      width: 100%;
      max-height: get-vw(388px);
      object-fit: cover;
    }

    .btn__play {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 5;
      transform: translate(-50%, -50%);

      &::after {
        filter: invert(1);
      }
    }
  }

  &__wrapper {
    @include flex(center, space-between);

    position: relative;
    flex-wrap: nowrap;
    min-height: 100vh;
  }
}

.why {
  position: relative;
  padding: get-vw(140px) 0;
  background-color: $gray-light;

  h2 {
    margin-bottom: get-vw(32px);
  }

  h4 {
    max-width: get-vw(742px);
    color: $gray-black;
  }

  ul {
    display: flex;
    margin-top: get-vw(64px);

    li {
      display: flex;
      flex-direction: column;
      min-height: get-vw(639px);
      max-width: get-vw(894px);

      img {
        margin-top: auto;
        width: 100%;
        max-height: get-vw(194px);
        object-fit: cover;
      }

      p {
        margin-bottom: get-vw(24px);
      }
    }
  }

  .scroll {
    left: get-vw(42px);
    bottom: get-vw(56px);
  }

  &__heading {
    @include flex(center, flex-start);

    margin-bottom: get-vw(40px);

    span {
      @include fontSize(105px);

      position: relative;
      display: inline-block;
      margin-right: get-vw(48px);
      line-height: 1;
      letter-spacing: -0.02em;
      color: $black;

      &::after {
        content: "";
        position: absolute;
        right: get-vw(-25px);
        top: 50%;
        width: get-vw(1px);
        height: get-vw(95px);
        background-color: $gray-medium;
        transform: translateY(-50%);
      }
    }
  }
}

.shake {
  @include bg-contain;

  position: relative;
  overflow: hidden;
  color: $white;
  background-image: url("../images/decor-shake.svg");
  background-position: bottom right;
  background-color: $green-black;

  h5 {
    color: $white;
  }

  blockquote {
    @include fontSize(48px);

    position: relative;
    margin-bottom: get-vw(32px);
    font-weight: 900;
    line-height: 1.17;
    letter-spacing: -0.03em;

    &::after {
      @include bg-contain;

      content: "";
      position: absolute;
      left: 0;
      top: get-vw(-72px);
      width: get-vw(40px);
      height: get-vw(40px);
      font-size: 0;
      line-height: 1;
      background-image: url("../images/blockquote.svg");
    }
  }

  .btn {
    margin-top: get-vw(32px);
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__social {
    margin-left: get-vw(32px);

    a {
      @include flex(center, center);

      width: get-vw(48px);
      height: get-vw(48px);
      border: get-vw(1px) solid $white;
      background-color: transparent;

      img {
        width: get-vw(16px);
        height: get-vw(16px);
      }
    }
  }

  &__inner {
    @include flex(center, space-between);

    flex-wrap: nowrap;
    min-height: get-vw(772px);
  }

  &__img {
    z-index: 10;
    align-self: flex-end;
    width: 100%;
    min-height: get-vw(772px);
    max-width: 51%;
    background-image: url("../images/shake.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.1);

    //img {
    //  transform: scale(1.3);
    //}
  }

  &__info {
    width: 100%;
    max-width: 49%;

    h5 {
      margin-bottom: get-vw(4px);
    }
  }
}

.people {
  padding: get-vw(140px) 0;

  h2 {
    margin-bottom: get-vw(32px);
  }

  h4 {
    max-width: get-vw(690px);
  }

  &__wrapper {
    @include flex(center, flex-start);

    margin-bottom: get-vw(64px);
  }

  &__img {
    width: 100%;
    max-height: get-vw(620px);
    object-fit: cover;
  }
}

.commitment {
  position: relative;
  padding: get-vw(140px) 0;
  background-color: $gray-light;

  h2 {
    margin-bottom: get-vw(32px);
  }

  h4 {
    margin-bottom: get-vw(87px);
    color: $gray-black;
  }

  h5 {
    margin-bottom: get-vw(32px);
    color: $gray-black;
  }

  .btn {
    img {
      margin-left: get-vw(16px);
    }
  }

  &__info {
    max-width: get-vw(486px);
  }
}

.vision {
  padding: get-vw(140px) 0;
  background-color: $gray-light;

  h2 {
    margin-bottom: get-vw(32px);
  }

  ul {
    li {
      display: flex;
      justify-content: space-between;
      width: get-vw(792px);
      max-height: get-vw(568px);
      background-color: $white;

      &:not(:last-child) {
        margin-bottom: get-vw(48px);
      }
    }
  }

  &__wrapper {
    @include flex(flex-start, space-between);
  }

  &__info {
    max-width: get-vw(305px);

    h4 {
      color: $gray-black;

      b {
        display: inline-block;
        font-weight: 700;
        letter-spacing: -0.02em;
        color: $black;
      }
    }
  }

  &__box-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: get-vw(40px);

    h4 {
      max-width: get-vw(328px);
    }

    .custom-btn {
      margin-top: auto;
      margin-left: 0;
      width: fit-content;
    }
  }

  &__box-img {
    width: 100%;
    max-width: get-vw(384px);

    img {
      width: 100%;
      max-width: get-vw(384px);
      max-height: get-vw(568px);
      object-fit: cover;
    }
  }
}

.giga {
  padding: get-vw(140px) 0;

  h2 {
    max-width: get-vw(397px);
  }

  h3 {
    margin-right: get-vw(12px);
    color: $gray-black;
  }

  ul {
    li {
      position: relative;
      min-height: get-vw(900px);

      h2 {
        margin-bottom: get-vw(8px);
      }
    }
  }

  &__title {
    @include flex(center, space-between);

    flex-wrap: nowrap;
    margin-bottom: get-vw(64px);
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: get-vw(72px) 0;
    width: 100%;
    height: 100%;
    min-height: get-vw(900px);
    max-width: 40%;
  }

  &__img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 50%;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: get-vw(256px);
      height: 100%;
      background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 100%);
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    margin-top: auto;

    p {
      @include fontSize(20px);

      line-height: 1.4;
      color: $black;

      &:not(:last-child) {
        margin-bottom: get-vw(28px);
      }
    }
  }
}

.hacks {
  position: relative;
  height: get-vw(900px);
  max-height: get-vw(900px);

  h2 {
    position: absolute;
    top: get-vw(140px);
    max-width: get-vw(481px);
    color: $white;
  }

  .container {
    height: get-vw(900px);
  }

  .btn {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 5;
    width: get-vw(72px);
    height: get-vw(72px);
    background-color: $white;

    //img {
    //  margin-left: 0;
    //}
  }

  h4 {
    position: absolute;
    bottom: get-vw(87px);
    color: $white;

    &::after {
      @include bg-contain;

      content: "";
      position: absolute;
      right: -56%;
      bottom: get-vw(8px);
      width: get-vw(161px);
      height: get-vw(32px);
      background-image: url("../images/hacks-arrow.svg");
    }
  }

  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.line {
  position: relative;
  height: get-vw(792px);
  max-height: get-vw(792px);

  .container {
    width: 100%;
    height: get-vw(792px);
  }

  .land {
    @include flex(center, center);

    position: absolute;
    right: get-vw(40px);
    top: 50%;
    z-index: 10;
    flex-direction: column;
    padding: get-vw(140px) get-vw(102px);
    width: fit-content;
    text-align: center;
    background-color: $black;
    transform: translateY(-50%);

    h3 {
      margin-bottom: get-vw(24px);
      max-width: get-vw(383px);
      color: $white;
    }

    h5 {
      margin-bottom: get-vw(32px);
      max-width: get-vw(365px);
      color: $white;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: get-vw(792px);
    max-height: get-vw(792px);
    object-fit: cover;
  }
}